[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "sfnetworks"]
	path = sfnetworks
	url = https://github.com/luukvdmeer/sfnetworks
